

<div class="container">
  <img src= <%= @article.pic_url %> style="width: 100%;">
  <p class="title"><%= @article.title %></p>
  <p><%= @article.author %></p>
  <p><%= @article.date %></p>
  <p><%= @article.body %></p>
</div>
