<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <div class="home-card-category" style="background-image: linear-gradient(to left, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(<%= cloudinary_url(Product.first.photo_id[0]) %> )">
        <%= link_to "Browse all tutorials", videos_path %>
      </div>
    </div>
  </div>
  <p class="title">Trending</p>
  <div class="holster">
    <div class="container-snap x mandatory-scroll-snapping" dir="ltr">
      <div><iframe id="video" width="100%" height="400vh" src="<%= @video_t1.video_url %>" ></iframe></div>
      <div><iframe id="video" width="100%" height="400vh" src="<%= @video_t2.video_url %>" ></iframe></div>
      <div><iframe id="video" width="100%" height="400vh" src="<%= @video_t3.video_url %>" ></iframe></div>
      <div><iframe id="video" width="100%" height="400vh" src="<%= @video_t4.video_url %>" ></iframe></div>
      <div><iframe id="video" width="100%" height="400vh" src="<%= @video_t5.video_url %>" ></iframe></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <p class="title" style="text-align: center;" >Recently Released</p>
  <div class="scrollmenu invisible-scrollbar">
  <% @videos.each do |vid| %>
    <div class="card-video">
    <iframe width="100%" src="<%= vid.video_url %>" ></iframe>
    <div class="card-video-infos">
      <div class="card-video-info-title"><strong><%= link_to vid.title, vid %></strong></div>
      <p><%= vid.creator %></p>
    </div>
    </div>
  <% end %>
  </div>
</div>
<br>
<br>
<div class="container">
  <p class="title" style="text-align: center;">Popular Videos</p>
    <%= render 'shared/video_display', videos: @videos %>
</div>
