<div class="container">
  <% if params[:q].nil? || params[:q] == "" %>
    <p class="title"">Popular Videos</p>
  <% else %>
    <p class="title"">Search Results for "<%= params[:q].capitalize %>"</p>
  <% end %>
  <% if @videos[0].nil?  %>
    <p class="title"">No results </p>
  <% else %>

  <% @videos.each do |vid| %>
  <iframe width="480" height="300" src="<%= vid.video_url %>" ></iframe>
  <% end %>

  <p class="title" style="text-align: center;">Popular Videos</p>
    <% @videos.each do |vid| %>
      <div class="card-video-index">
        <iframe width="100%", height="80%" src="<%= vid.video_url %>" ></iframe>
        <div class="card-video-index-infos">
          <div class="left-info">
            <h2><%= link_to vid.title, vid %></h2>
            <p><%= vid.creator %></p>
          </div>
          <h2 class="card-video-index-infos right-info"></h2>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp <%=  number_with_delimiter(vid.likes, :delimiter => ',') %> &nbsp
            <i class="fa fa-eye" aria-hidden="true"></i> &nbsp <%= number_with_delimiter(vid.views, :delimiter => ',') %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
</div>
