<div class="big-player-container sticky-card">
  <div class="player-container">
    <div id="player" data-video-id="<%= @video.youtube_id %> ">
    </div>
  </div>
  <div class="annotations">
    <% @video.annotations.each_with_index do |annotation, index|  %>
    <div class="annotation px-1" id="annotation-<%= index + 1 %>" data-time-start="<%= annotation.time_start %>" data-time-end="<%= annotation.time_end %>" data-x-coordinate="<%= annotation.x_coordinate %>" data-y-coordinate="<%= annotation.y_coordinate %>">
      <div class="annotation-button">></div>
      <div class="annotation-product" id="annotation-product-<%= index + 1 %>">
        <%= annotation.product.name %> -
        <%= humanized_money_with_symbol annotation.product.price %>
        <span class="annotation-add-to-cart px-1" id="annotation-add-to-cart-<%= index + 1 %>" data-product-id="<%= annotation.product.id%>"><i class="fas fa-cart-plus"></i></span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
// To embed youtube videos on div id = player
if (window.tag) {
location.reload();
}

window.player = null;
window.onYouTubeIframeAPIReady = function() {
  player = new YT.Player('player', {
    height: 9/16*window.innerWidth,
    width: window.innerWidth,
    videoId: "<%= @video.youtube_id %>" ,
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}
window.onPlayerReady = function(event) {
  console.log("PLAYER READY");
}
window.onPlayerStateChange = function(event) {
  if(event.data == YT.PlayerState.PLAYING) {
  }
}
window.tag = document.createElement('script');
window.tag.src = "https://www.youtube.com/iframe_api"; // Create source to script
window.firstScriptTag = document.getElementsByTagName('script')[0]; // Get the first <script> on <head></head>!
window.firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); // Insert the script src=youtube to <head></head> -> Calling script which you can try by opening "https://www.youtube.com/iframe_api"
</script>

<div class="container px-2 mt-1">
  <div class="video-show-description">
    <div class="video-show-title py-1">
      <%= @video.title %>
    </div>
    <div class="video-show-info d-flex justify-content-between">
      <div>
        <%= @video.creator %>
      </div>
      <div>
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <%=  number_to_human(@video.likes, precision: 1, significant: false, units: { thousand: "k", million: "m", billion: "b" }) %>
        <i class="fa fa-eye"  aria-hidden="true"></i> <%=  number_to_human(@video.views, precision: 1, significant: false, units: { thousand: "k", million: "m", billion: "b" }) %>
      </div>
    </div>
  </div>
</div>

<div class="video-show-shop container-fluid px-0 pt-3 mt-3 border-top">
  <div class="row video-show-shop-title">
    <div class="col-12 py-2">
      <h3>Shop the Look</h3>
    </div>
  </div>
  <% @annotations.each do |a| %>
    <div class="video-show-card row no-gutters my-4">
      <div class="video-show-card-img col-3">
        <%= cl_image_tag a.product.photo_id[0], width: 100, crop: :fill %>
      </div>
      <div class="col-9 d-flex flex-column justify-content-between p-2">
        <div class="row">
          <div class="col-9">
            <div class="video-show-card-product-name">
            <strong><%= a.product.brand.name %></strong><br>
            <%= link_to a.product.name, a.product %>
            </div>
          </div>
          <div class="col-3 text-right">
            <div><strong><%= humanized_money_with_symbol a.product.price %></strong></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button class="jump-btn btn" data-url="<%= @video.video_url %>" data-point="<%= a.time_start %>" >See at <%= seconds_to_minute(a.time_start) %></button>
            <%= simple_form_for(@order, method: :post, url: vidcreateorder_path, remote: true, html: { class: "item" }) do |f| %>
            <%= f.input :product,  :as => :hidden, :input_html => { :value => a.product.id } %>
            <div class="d-flex">
              <%= f.input :quantity, label: false, :input_html => { :id => "quantity" }, :collection => 1..12, selected: 1%>
              <%= button_tag type: 'submit', class: "cart btn btn-cart py-0 ml-1" do %>
                Add to <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
