<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  <div class="container big-player-container">
    <div class="player-container">
      <div id="player" data-video-id="<%= @video.youtube_id %> ">
      </div>
    </div>
    <div class="annotations">
      <% @video.annotations.each_with_index do |annotation, index|  %>
      <div class="annotation" id="annotation-<%= index + 1 %>" data-time-start="<%= annotation.time_start %>" data-time-end="<%= annotation.time_end %>" data-x-coordinate="<%= annotation.x_coordinate %>" data-y-coordinate="<%= annotation.y_coordinate %>">
        <span class="annotation-button"><i class="fas fa-circle"></i>-<%= index + 1 %></span>
        <div class="annotation-product" id="annotation-product-<%= index + 1 %>">
          <%= annotation.product.name %>
          <%= annotation.product.price %>
          <span class="annotation-add-to-cart" id="annotation-add-to-cart-<%= index + 1 %>" data-product-id="<%= annotation.product.id%>"><i class="fas fa-cart-plus"></i></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <script>
      // This script is to inject the youtube player iframe ready on our player
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      const getVideoId = document.querySelector("#player").dataset.videoId;
      console.log(getVideoId);
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'joBfpN9eMg0',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });

        function onPlayerReady(event) {
          console.log("PLAYER READY");
          event.target.playVideo();
        }

        function onPlayerStateChange(event) {
          if(event.data == YT.PlayerState.PLAYING) {
          }
        }
      }
</script>

<div>
  <h1>Current Video duration is <span id="videoNow"></span></h1>
  <h5 id="popUp">This must pop out during 2:30 to 2:35</h5>
</div>

<div class="container">
  <div class="card-video-index">
    <iframe width="100%", height="100%" src="<%= @video.video_url %>" ></iframe>
    <div class="card-video-index-infos">
      <div>
        <h2 style="font-size: 14px;"><%= @video.title %></h2>
        <p style="font-size: 14px; padding-top: 2px;"><%= @video.creator %></p>
      </div>
      <h2 class="card-video-index-infos right-info" style="font-size: 14px;">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp <%=  number_with_delimiter(@video.likes, :delimiter => ',') %> &nbsp
        <i class="fa fa-eye"  aria-hidden="true"></i> &nbsp <%= number_with_delimiter(@video.views, :delimiter => ',') %>
    </div>
  </div>
</div>
<br>
<br>
<div class="container shop">
  <p class="title" style="font-size: 18px; text-align: center;">Shop the Look</p>
  <br>
  <% @products.each do |prod| %>
    <div class="card-video card-prod">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-video-infos">
      <h2><%= link_to prod.name, prod %></h2>
      <p><%= prod.description %></p>
    </div>
    <div class="card-video-infos info-right">
      <h2>$<%= prod.price %></h2>

      <%= simple_form_for(@order, method: :post, url: orders_path) do |f| %>
        <%= f.input :product,  :as => :hidden, :input_html => { :value => prod } %>
        <%= f.input :quantity, label: false, :collection => 1..12, :prompt => "-- Select Quantity --"%>
        <%= f.input :user,  :as => :hidden, :input_html => { :value => current_user }%>
        <%= button_tag type: 'submit', class: "cart" do %>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container">
  <h3><%= @video.title %> </h3>
  <div class="overlay">
    <iframe width="480" height="300" allow="autoplay" src="<%= @video.video_url %>" class="main-video" ></iframe>
    <div class="overlay1">
      <button class="button1 btn btn-primary" data-url="<%= @video.video_url %>">click me to play</button>
    </div>
    <p>
      <%= @video.description %>
    </p>
  </div>
  <button class="jump-btn btn-primary" data-url="<%= @video.video_url %>" data-point="90" >Jump to Point 1</button>
</div>
