<%# navbar %>
<div class="sticky-top">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "moocoo.png", width: "60" %>
  <% end %>
  <div class="d-flex">
    <% if user_signed_in? && current_user.photo.attached? %>
      <%= link_to profile_path do %>
        <%# TODO set avatar %>
        <%= cl_image_tag current_user.photo.key, width: 35, height: 35, crop: :fill, class: "avatar my-3 mx-2" %>
      <% end  %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= image_tag "profile.png", width: 40 %>
      <% end  %>
    <% end %>
    <%= link_to "#", class: "navbar-cart my-3" do %>
      <%= image_tag "cart.png", width: 35 %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Products', home_products_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Videos', home_videos_path, class: 'nav-link'  %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
  <%= render 'shared/search' %>

</div>
<%# searchbar %>
<div>
</div>

