<div class="navbar navbar-light navbar-moocoo px-0">
  <p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>
  </p>


  <%= link_to "#", class: "navbar-logo" do %>
    <%= image_tag "moocoo.png"%>
  <% end %>


  <%#= for the login profile button  %>

    <%# Here we want the user symbol if the fella is signed in  %>
    <% if user_signed_in? %>
      <div class="navbar-right d-flex">
        <div class="nav-profile-pic mr-2">
        <%# todo - Remember to link to profile path, this is useless as of now %>
          <%= link_to new_user_session_path, class: "nav-profile" do %>
          <%= image_tag "profile.png"%>
          <% end %>
        </div>
    <% else  %>
      <%= link_to new_user_session_path, class: "nav-profile" do %>
        <%= image_tag "profile.png"%>
      <% end %>
    <% end %>
        <%= link_to "#", class: "navbar-cart" do %>
          <%= image_tag "cart.png"%>
        <% end %>
      </div>
  <div class="search-container">
    <form action="#">
      <input type="text" id="fname" name="fname" class="input-bar" value="Search for brands and products">
    </form>
    <i class="fas fa-search" type="submit" id="search-icon"></i>
  </div>
</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body bg-white">
      <%= link_to "Home", root_path%>
      <%= link_to "Videos", videos_path %>
      <%= link_to "Products", "#" %>
    </div>
  </div>

