<div class="review-portion my-3 border-top">
  <h1 class="title mt-3" style="font-size: 18px; text-align: center;">Reviews</h1>
  <div class="table" >
    <% @reviews.each do |review| %>
      <div class="review-card my-2 row">
        <div class="review-image col-2">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag(review.user.photo.key) %>
          <% else %>
            <img src="http://simpleicon.com/wp-content/uploads/multy-user-256x256.png" alt="standardPic">
          <% end %>
        </div>
        <div class="review-name col-6 pl-1">
          <strong><%= review.user.first_name %> <%= review.user.last_name %></strong>
        </div>
        <div class="col-4 text-right">
          <% review.rating.times do  %>
            <i class="fas fa-star text-warning"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= review.comment %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id ="review-missing">
  <div class="add-review container" style="background-color: #d4d4d4; padding: 20px; border-radius: 4px;">
    <h1 class="title" style="font-size: 18px;">Add Review</h1>
      <%= simple_form_for @review, method: :post, url: product_reviews_path(@product) do |f| %>
        <%= f.input :comment  %>
        <%= f.input :rating %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
