<div class="container">
  <div class="row">
    <div class="col-12">
      <%= simple_form_for @product do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <h3>Add New Products</h3>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, inner_html: { multiple: true } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Add image", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
