<div class="container" style="max-width:1000px;">
  <div class="row profile no-gutters align-items-center py-3 border-bottom">
    <div class="profile-photo col-2">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, width: 56, height: 56, crop: :fill, class: 'avatar-large' %>
      <% else %>
        <%= image_tag('profile.png', class: 'avatar-large') %>
      <% end %>
    </div>
    <div class="col-8 profile-name">
      <div class="mx-2"><%= @user.first_name %> <%= @user.last_name %></div>
    </div>
    <div class="col-2 text-right">
      <%= link_to edit_user_registration_path, class: "btn btn-xs" do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  </div>

  <div>
    <h4 class="text-center m-3">Recommended Videos</h4>
  </div>

  <%= render 'shared/video_display', videos: @watched_videos %>

  <div>
    <h4 class="text-center p-3 border-top">Buy Again</h4>
  </div>

  <%= render 'shared/product_display', products: @products %>
</div>
