<div class="container" style="max-width:1000px;">
  <div class="d-flex justify-content-between align-items-center my-3">
    <div class="profile">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, width: 56, height: 56, crop: :fill, class: 'avatar-large' %>
      <% else %>
        <%= image_tag('profile', class: 'avatar-large') %>
      <% end %>
    </div>
    <div>
      <h4 class="mx-2"><%= @user.first_name %> <%= @user.last_name %></h4>
    </div>
    <div>
      <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-primary btn-xs"  %>
    </div>
  </div>

  <div>
    <h4 class="text-center m-3">Watched Videos</h4>
  </div>

  <%= render 'shared/video_display', videos: @watched_videos %>

  <div>
    <h4 class="text-center m-3">My Purchases</h4>
  </div>

  <%= render 'shared/product_display', products: @products %>
</div>
