<div class="container">
  <div class="row cart mx-1 p-1">
    <div class="col-12 col-md-6 m-auto text-center">
      <h2 class="my-3">Order Summary</h2>
      <div class="cart-body py-3 px-1 border-top">
        <% @purchase.orders.order("id asc").each do |order| %>
        <%= render partial: "shared/payment_card", locals: { order: order } %>
        <% end %>
        <div class="total-price p-2 my-2 rounded bg-white">
          <h4>TOTAL : SGD <%= @purchase.total_price %></h4>
        </div>

        <div class = "text-center">
          <div>
            <button id="pay" class="btn btn-primary my-2">Proceed to Payment</button>
          </div>

          <!-- # Commented for the lecture, remove comments. -->
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              <%# Create session only when you click the "Pay" button%>
              <% create_session(purchase: @purchase) %>

              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @purchase.checkout_session_id %>'
              });
            });

          </script>
          <div>
            <%= link_to "Cancel Payment", purchase_path(@purchase), method: :delete %>
          </div>
          <div class="mt-3" style="color:rgba(0,0,0,0.7);">
            <div>*Payment is securely done by</div>
            <div><i class="fab fa-stripe" style="font-size: 2em;"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
